@import "utils";

body {
	margin: 0;
	padding: 0;

}
[ng-app] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.section {
	float: left;
	width: 50%;
}

.animal {
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	width: 45vw;
	height: 45vw;
	margin: 0 auto;
}

@include media-orientation-query(portrait) {
	.section {
		float: none;
		width: 100%;
	}

	.animal {
		height: 45vw;
		width: 90vw;
	}
}



$animal-names: cat chicken cow dog duck elephant giraffe goat horse mouse owl penguin pig sheep zebra;
@each $animal-name in $animal-names {
    .animal-#{$animal-name} {
        background-image: url("../img/#{$animal-name}.svg");
    }
}