@import "utils";

.animal {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 90vh;
}

@include media-orientation-query(portrait) {
    .animal {
        width: 90vw;
        height: 45vh;
    }
    .sound {
        font-size: 16vw;
    }
}


$animal-names: cat chicken cockerel cow dog donkey elephant fox horse leopard lion lioness monkey orangutan owl panda penguin pig puma reindeer sheep tiger zebra;
@each $animal-name in $animal-names {
    .animal-#{$animal-name} {
        background-image: url("../img/#{$animal-name}.svg");

    }
}

@include keyframes(sound-shake) {
    0%, 100% {
        @include transform(rotateZ(-10deg));
    }

    50% {
        @include transform(rotateZ(10deg) scale(1.5));
    }
}

.sound {
    font-family: "Shojumaru", cursive;
    font-size: 8vw;
    text-align: center;

    @include transform-origin(50%);
    @include animation(sound-shake, 1.0s, forwards infinite);

    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove.ng-hide-remove-active {
        @include transition(opacity, 0.5s, ease-in-out);
    }

    &.ng-hide {
      opacity: 0;
    }
}

$animal_colours: (
    "cat": #68A284,
    "chicken": #B6382F,
    "cockerel": #B6382F,
    "cow": #3C3C3B,
    "dog": #723E2B,
    "donkey": #4E7796,
    "elephant": #AEAED3,
    "fox": #AF5B2B,
    "horse": #8E6451,
    "leopard": #F39E2B,
    "lion": #AF5B2B,
    "lioness": #4B190D,
    "monkey": #8E6451,
    "orangutan": #EA8232,
    "owl": #EA8232,
    "panda": #3C3C3B,
    "penguin": #2D466A,
    "pig": #F29E9F,
    "puma": #6F6F6E,
    "reindeer": #F39E2B,
    "sheep": #D3C5C1,
    "tiger": #EA8232,
    "zebra": #3C3C3B
);

@each $animal, $colour in $animal_colours {
    .sound-#{$animal} {
        color: $colour;
    }
}
