<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Menagerie</title>

    <link href="http://fonts.googleapis.com/css?family=Shojumaru" rel="stylesheet" type="text/css">

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="An animal sounds game for young children">

    <!-- inject:css -->
    <!-- endinject -->

  </head>
  <body
    data-sounds-root="/sounds/"
    data-partials-root="/partials/"
    data-images-root="/img/"
    ng-app="Menagerie"
    ng-controller="MenagerieCtrl as menagerie_ctrl"
    ng-swipe-left="menagerie_ctrl.move(-1)"
    ng-swipe-right="menagerie_ctrl.move(1)"
  >
    <div class="container" ng-if="is_loading">
      <div class="progress-circular">
        <div class="spinner-wrapper">
          <div class="inner">
            <div class="gap"></div>
            <div class="left">
              <div class="half-circle"></div>
            </div>
            <div class="right">
              <div class="half-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <article
      animal="animal"
      ng-repeat="animal in animals"
      ng-animate
      class="container explode"
      ng-hide="is_loading"
    ></article>
    <aside ng-controller="HelpCtrl as help_ctrl" ng-cloak>
      <div
          class="help help-tap"
          ng-if="is_help_required.tap"
          on-animation-end="help_ctrl.end_help('tap')"
      ></div>
      <div
          class="help help-swipe"
          ng-if="is_help_required.swipe"
          on-animation-end="help_ctrl.end_help('swipe')"
      ></div>
    </aside>

    <!-- inject:js -->
    <!-- endinject -->

  </body>
</html>