@import "utils";

body {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@include media-orientation-query(portrait) {
    .container {
        flex-direction: column;
    }
}

.item {
    width: 45vw;
}

@include media-orientation-query(portrait) {
    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90vw;
        height: 45vh;
    }
}

[ng-app] {
    @include full-screen;
}

.explode {
    @include full-screen;

    transition: transform 0.5s ease-in-out;
    transform-origin: 25% 50%;

    &.ng-leave.ng-leave-active,
    &.ng-enter {
        transform: scale(0.1);
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        transform: scale(1);
    }

    z-index: 2;

    & + & {
        z-index: 1;
    }
}

@include media-orientation-query(portrait) {
    .explode {
        transform-origin: 50%;
    }
}
