$progress-circular-ease-in-out: cubic-bezier(0.35, 0, 0.25, 1);
$progress-circular-duration: 5.25s;
$progress-circular-circle-duration: $progress-circular-duration * 0.25;
$progress-circular-outer-duration: $progress-circular-duration * (5 / 9);
$progress-circular-sporadic-duration: $progress-circular-duration;
$progress-circular-size: 50px;
$progress-circular-colour: #B6382F;

@keyframes outer-rotate {
	100% {
        transform: rotate(360deg);
    }
}
@keyframes left-wobble {
	0%, 100% {
        transform: rotate(130deg);
    }
	50% {
        transform: rotate(-5deg);
    }
}
@keyframes right-wobble {
	0%, 100% {
        transform: rotate(-130deg);
    }
	50% {
        transform: rotate(5deg);
    }
}
@keyframes sporadic-rotate {
	12.5% {
        transform: rotate(135deg);
    }
	25% {
        transform: rotate(270deg);
    }
	37.5% {
        transform: rotate(405deg);
    }
	50% {
        transform: rotate(540deg);
    }
	62.5% {
        transform: rotate(675deg);
    }
	75% {
        transform: rotate(810deg);
    }
	87.5% {
        transform: rotate(945deg);
    }
	100% {
        transform: rotate(1080deg);
    }
}

.progress-circular {
	width: $progress-circular-size;
	height: $progress-circular-size;
	display: block;
	position: relative;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
	overflow: hidden;

	.inner {
		width: $progress-circular-size;
		height: $progress-circular-size;
		position: relative;
		.gap {
			position: absolute;
			left: $progress-circular-size * 0.5 - 1;
			right: $progress-circular-size * 0.5 - 1;
			top: 0;
			bottom: 0;
			border-top: $progress-circular-size / 10 solid $progress-circular-colour;
			box-sizing: border-box;
		}
		.left, .right {
			position: absolute;
			top: 0;
			height: $progress-circular-size;
			width: $progress-circular-size * 0.5;
			overflow: hidden;
			.half-circle {
				position: absolute;
				top: 0;
				width: $progress-circular-size;
				height: $progress-circular-size;
				box-sizing: border-box;
				border-width: $progress-circular-size / 10;
				border-style: solid;
				border-color: $progress-circular-colour $progress-circular-colour transparent;
				border-radius: 50%;
			}
		}
		.left {
			left: 0;
			.half-circle {
				left: 0;
				border-right-color: transparent;
			}
		}
		.right {
			right: 0;
			.half-circle {
				right: 0;
				border-left-color: transparent;
			}
		}
	}

	.spinner-wrapper {
		animation: outer-rotate $progress-circular-outer-duration linear infinite;
		.inner {
			animation: sporadic-rotate $progress-circular-sporadic-duration $progress-circular-ease-in-out infinite;
			.left {
				.half-circle {
					animation: left-wobble ($progress-circular-duration * 0.25) $progress-circular-ease-in-out infinite;
				}
			}
			.right {
				.half-circle {
                    animation: right-wobble ($progress-circular-duration * 0.25) $progress-circular-ease-in-out infinite;
				}
			}
		}
	}
}
